<% if @posts.present? %>

  <% @posts.each do |post| %>

    <h2><%= post.title %></h2>

    <span><%= l post.created_at %></span>

    <p><%= post.body %></p>

    <span><%= link_to 'Изменить', edit_post_path(post) %></span>
    <span><%= link_to 'Удалить', post_path(post), :method => :delete %></span>

  <% end %>

<% else %>
  <h2>Нет постов :с</h2>
<% end %>
